@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
  overflow: hidden;
}

main {
  position: relative;
}

.header {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 70%);
  width: 100vw;
}

.header h1 {
  font-size: 100px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
}